{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>{{ game.name }} Details</h2>
  <div class="mb-3">
    <p class="mb-0">Genre: {{ game.genre }}</p>
    <p class="mb-0">Owner: {{ game.owner }} </p>
    <p class="mb-0">Game ID: {{ game.id }}</p>
    {% if game.available %}
      <p class="mb-0">Available?: Yes</p>
      <form action="{% url 'loan_board_game' game.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Loan Game" class="btn btn-primary mt-2">
      </form>
    {% else %}
      <p class="mb-0">This game is currently not available</p>
      <p class="mb-0"> Loaned to {{ game.loaned_to }}</p>
    {% endif %}
  </div>
  <!-- Add other details as needed -->

  <div class="mb-3">
    <p class="mb-0">
      <a href="{% url 'all_board_games' %}" class="btn btn-primary mt-2">Return to board games</a>
      <a href="{% url 'edit_board_game' game.id %}" class="btn btn-primary mt-2">
        Edit game details</a>
    </p>
    <p class="mb-0">
      <a href="{% url 'board_game_review' game.id%}" class="btn btn-primary mt-4">Review game</a>
    </p>
  </div>

  <h3>Reviews</h3>
  <ul class="list-group">
    {% for review in reviews %}
    <li class="list-group-item">
    <div>
        <!---Header with time stamp and edit link-->
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="mb-0">{{ review.date_added }}</h6>
              <p >Rating: {{ review.stars }} By: {{ review.owner }}</p> 
            </div>
              <small><a href="{% url 'edit_board_game_review' review.id %}">Edit review</a></small>
          </div>
        <!---Entry text-->
        <div class="mt-2">{{ review.review|linebreaks }}</div>
    </div>
    </li>
    {% empty %}
    <li class="list-group-item"> There are no reviews</li>
    {% endfor %}
  </ul>
</div>


{% endblock %}
