{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to the Board Game Lending Platform!</h1>
  <p class="lead">Explore our collection of board games and start lending and borrowing today.</p>
</div> 
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'all_board_games' %}" class="text-decoration-none">View All Board Games</a></li>
      {% if user.is_authenticated %}
      <li class="list-group-item"><a href="{% url 'loaned_games' %}" class="text-decoration-none">Your loaned games</a></li>
      {% endif %}
    </ul>
  </div>
</div>  
{% endblock %}
