{% extends "base.html" %}


{% block content %}
<div class="container mt-4">
    <h2> Add new board game </h2>
        <form action="{% url 'new_board_game' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button name="submit" class="btn btn-primary">Add board game</button>
        </form>

        <p>
            <a href="{% url 'all_board_games' %}" class="text-decoration-none">Back to all board games</a>
        </p>    
</div>        
{% endblock content %}